h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: roboto, sans-serif;
  color: var(--primary-title-color);
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v22-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v22-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v22-latin-700.woff2") format("woff2"), url("../fonts/raleway-v22-latin-700.woff") format("woff"), url("../fonts/raleway-v22-latin-700.ttf") format("truetype"), url("../fonts/raleway-v22-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v29-latin_cyrillic-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-ext-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin_cyrillic-ext-regular.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-ext-regular.woff") format("woff"), url("../fonts/roboto-v29-latin_cyrillic-ext-regular.ttf") format("truetype"), url("../fonts/roboto-v29-latin_cyrillic-ext-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v29-latin_cyrillic-ext-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-ext-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin_cyrillic-ext-700.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-ext-700.woff") format("woff"), url("../fonts/roboto-v29-latin_cyrillic-ext-700.ttf") format("truetype"), url("../fonts/roboto-v29-latin_cyrillic-ext-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v29-latin_cyrillic-ext-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-ext-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin_cyrillic-ext-500.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-ext-500.woff") format("woff"), url("../fonts/roboto-v29-latin_cyrillic-ext-500.ttf") format("truetype"), url("../fonts/roboto-v29-latin_cyrillic-ext-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v29-latin_cyrillic-ext-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-ext-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin_cyrillic-ext-900.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-ext-900.woff") format("woff"), url("../fonts/roboto-v29-latin_cyrillic-ext-900.ttf") format("truetype"), url("../fonts/roboto-v29-latin_cyrillic-ext-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

:root {
  --logo-color: #000000;
  --header-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --hero-overlay: rgba(47, 48, 58, 0.4);
  --main-background-color: #e5e5e5;
  --command-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --header-text-color: #752054;
  --hero-text-color: #ffffff;
  --footer__logo-color: #ffffff;
  --button-hover-color: #188ce8;
  --border-bottom-color: #ececec;
  --border-cards-color: #eeeeee;
  --svg-fill: #afb1b8;
  --occupation-background: rgba(47, 48, 58, 0.8);
  --card-overlay: rgba(33, 150, 243, 0.9);
  --modal-backdrop: rgba(0, 0, 0, 0.2);
  --modal-btn-border: rgba(0, 0, 0, 0.1);
  --footer-email-input-border: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.link {
  text-decoration: none;
  transition-property: background-color, color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.btn {
  text-decoration: none;
  transition-property: background-color, color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.header__logo,
.footer__logo {
  font-family: raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19231;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-decoration: none;
}

.logo__accent {
  color: var(--accent-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-backdrop);
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.current {
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  left: 100%;
  bottom: -33.5px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transform: translateX(-100%);
  background-color: var(--accent-color);
  display: block;
}

@media screen and (max-width: 1199px) {
  .current::after {
    bottom: -39px;
  }
}

.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--border-bottom-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header > .container {
  display: flex;
  justify-content: space-between;
}

.header__list,
.header__contacts {
  display: flex;
}

.header__list_item:not(:first-child),
.header__contacts_item:not(:first-child) {
  margin-left: 50px;
}

.header__list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  margin-left: 93px;
}

@media screen and (max-width: 767px) {
  .header__list {
    display: none;
  }
}

.header__contacts {
  margin-left: auto;
  align-items: center;
}

.header__contacts .header__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header__contacts .contacts__icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .header__contacts {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .header__contacts {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-title-color);
}

.header__link:hover, .header__link:focus, .header__link.current {
  color: var(--accent-color);
}

.header__link:hover > .contacts__icon, .header__link:focus > .contacts__icon, .header__link.current > .contacts__icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .header__contacts_item:not(:first-child) {
    margin-left: 0;
  }
  .header__contacts_item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.open {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0px;
  border: 0px;
  background-color: var(--header-background-color);
}

.open:hover .header__burger-svg,
.open:focus .header__burger-svg {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .open {
    display: none;
  }
}

.header__burger-svg {
  width: 24px;
  height: 16px;
}

.hero {
  background-color: var(--hero-background-color);
  padding-top: 118px;
  padding-bottom: 118px;
  justify-content: center;
  background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)), url(../images/mob/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)), url(../images/mob/hero@2x.jpg);
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)), url(../images/mob/hero@3x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-size: 768px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)), url(../images/hero-bgd-t.jpg);
    background-size: 1200px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)), url(../images/hero-bgd-d.jpg);
    background-size: 1600px;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  color: var(--hero-text-color);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61538;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36364;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.hero__button {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  border-radius: 4px;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--button-hover-color);
}

.direction {
  padding: 60px 0px;
}

@media screen and (min-width: 1200px) {
  .direction {
    padding: 94px 0px;
  }
}

.direction__img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--command-background-color);
  max-width: 450px;
  height: 120px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .direction__img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .direction__img {
    width: 270px;
  }
}

.direction__list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .direction__list {
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.direction__description {
  margin-left: 0px;
}

@media screen and (max-width: 1200px) {
  .direction__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .direction__item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2 - 60px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .direction__item {
    flex-basis: calc(100% / 4 - 120px);
  }
  .direction__item:not(:first-child) {
    margin-left: 30px;
  }
}

.direction__description-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-top: 30px;
}

.direction__description-text {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.occupation {
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1199px) {
  .occupation {
    display: none;
  }
}

.occupation__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  text-align: center;
  margin-bottom: 50px;
}

.occupation__item {
  padding: 0;
  margin: 0;
  border: 0;
}

.occupation__item > .thumb {
  position: relative;
  width: 100%;
  height: 294px;
  padding: 0;
}

.occupation__item:not(:first-child) {
  margin-left: 30px;
}

.occupation__description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  background-color: var(--occupation-background);
}

.occupation__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  justify-content: center;
  background-color: var(--command-background-color);
  padding: 60px 0px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0px;
  }
}

.team__title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17857;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    align-items: flex-start;
  }
}

.team__card {
  background-color: var(--secondary-title-color);
  border-radius: 4px;
  text-align: center;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1200px) {
  .team__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__card {
    min-width: 354px;
    flex-basis: calc(100% / 2 - 60px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__card {
    min-width: 270px;
    flex-basis: calc(100% / 4 - 120px);
  }
}

.team__photo {
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}

.team__card-header {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}

.team__card-occupation {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.team__soc-ico_normal-bgd {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: 0px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team__soc-ico_normal-bgd:not(:first-child) {
  margin-left: 10px;
}

.team__soc-ico_normal-bgd:hover, .team__soc-ico_normal-bgd:focus {
  background-color: var(--accent-color);
}

.team__soc-ico_normal-bgd:hover > .social-icon, .team__soc-ico_normal-bgd:focus > .social-icon {
  fill: var(--secondary-title-color);
}

.social-icon {
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  fill: var(--svg-fill);
}

.customers {
  padding: 94px 0px;
}

.customers__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  text-align: center;
  margin-bottom: 50px;
}

.customers__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (max-width: 1199px) {
  .customers__list {
    flex-wrap: wrap;
  }
}

.customers__item {
  display: flex;
  justify-content: center;
  align-self: stretch;
  width: 210px;
  height: 92px;
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 479px) {
  .customers__item {
    max-width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .customers__item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customers__item {
    width: 170px;
    flex-wrap: nowrap;
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 1px solid var(--svg-fill);
  border-radius: 4px;
}

.customers__link:hover, .customers__link:focus {
  border-color: var(--accent-color);
}

.customers__link:hover .icon, .customers__link:focus .icon {
  fill: var(--accent-color);
}

.customers__link > .icon {
  background-color: var(--header-background-color);
  fill: var(--svg-fill);
  width: 106px;
  height: 60px;
}

.footer {
  background-color: var(--footer-background-color);
  padding: 60px 0px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    align-items: flex-start;
    justify-content: space-between;
  }
}

.footer__main-block {
  margin-bottom: -8px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__main-block {
    max-width: 232px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 231px;
  }
}

.footer__logo {
  color: var(--footer__logo-color);
}

.logo-text {
  margin-bottom: 20px;
}

.footer__street {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--footer__logo-color);
  margin-bottom: 8px;
}

.footer__street:hover, .footer__street:focus {
  color: var(--accent-color);
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer__list-item {
  margin-bottom: 8px;
}

.footer__social-block {
  padding-top: 12px;
}

@media screen and (max-width: 767px) {
  .footer__social-block {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__social-block {
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social-block {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 206px;
    margin-left: 70px;
  }
}

.footer__icons-list-appeal {
  color: var(--hero-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .footer__icons-list-appeal {
    margin-bottom: 20px;
  }
}

.footer__soc-ico-container {
  margin-left: -10px;
}

@media screen and (max-width: 1199px) {
  .footer__soc-ico-container {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__soc-ico-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
  }
}

.footer__social-icon-bgd {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: 0px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  margin: 0px;
  margin-left: 10px;
}

.footer__social-icon-bgd:hover, .footer__social-icon-bgd:focus {
  background-color: var(--accent-color);
}

.footer__social-icon-bgd:hover > .social-icon, .footer__social-icon-bgd:focus > .social-icon {
  fill: var(--secondary-title-color);
}

.footer__soc-ico {
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  fill: var(--hero-text-color);
}

@media screen and (max-width: 1199px) {
  .footer__subscribe {
    margin-top: 60px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 93px;
    padding-top: 12px;
  }
}

.footer__subscribe-appeal {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-background-color);
  margin-bottom: 20px;
}

.footer__subscribe-input {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .footer__subscribe-input {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe-input {
    margin-top: 0px;
  }
}

.input-window {
  border-style: none;
  border-radius: 4px;
  border: 1px solid var(--footer-email-input-border);
  width: 450px;
  height: 50px;
  background-color: transparent;
  padding: 15px 16px 15px 16px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 479px) {
  .input-window {
    width: 90vw;
  }
}

@media screen and (max-width: 1199px) {
  .input-window {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .input-window {
    width: 352px;
  }
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--header-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 0;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover, .submit-button:focus {
  background: var(--button-hover-color);
}

@media screen and (min-width: 1200px) {
  .submit-button {
    margin-left: 12px;
  }
}

.footer__submit-icon {
  width: 24px;
  height: 24px;
  fill: var(--hero-text-color);
  margin-left: 10px;
}

.portfolio {
  background-color: var(--secondary-title-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

@media screen and (max-width: 480px) {
  .portfolio__filter {
    flex-wrap: wrap;
    justify-content: start;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }
}

.portfolio__button {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  white-space: nowrap;
  outline: none;
  background-color: var(--command-background-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.portfolio__button:hover, .portfolio__button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 480px) {
  .portfolio__button {
    margin-bottom: 15px;
  }
}

.portfolio__filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__filter-item > .portfolio__button {
  padding: 6px 22px;
}

.portfolio__button,
.button {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .work {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    margin-top: -30px;
    margin-left: -30px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .work {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.work__img {
  margin: 0px;
  width: 100%;
}

.work__list-item {
  transition: transform 300ms linear;
}

@media screen and (max-width: 767px) {
  .work__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .work__list-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work__list-item {
    box-sizing: content-box;
  }
}

@media screen and (min-width: 1200px) {
  .work__list-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    transition: transform 300ms linear;
  }
}

.work__list-item:hover, .work__list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work__list-item .thumb {
  position: relative;
  overflow: hidden;
}

.work__list-item:hover .work__card-description {
  transform: translateY(0);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.work__name-description {
  border: 1px solid var(--border-cards-color);
  border-top: none;
  padding: 20px 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work__name-description {
    flex-grow: 1;
  }
}

.work__card-header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  margin-bottom: 4px;
}

.work__card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.work__card-description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 77px 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
  background-color: var(--card-overlay);
}

@media screen and (min-width: 768px) {
  .work__card-description {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .work__card-description {
    padding: 63px 24px;
  }
}

.modal {
  position: relative;
  max-width: 450px;
  min-height: 609px;
  background-color: var(--header-background-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

@media screen and (max-width: 768px) {
  .modal {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.close-btn {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid var(--modal-btn-border);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-btn:focus .close-ico,
.close-btn:hover .close-ico {
  fill: var(--accent-color);
}

.close-ico {
  fill: var(--logo-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__header {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal__form {
  display: block;
  max-width: 370px;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .modal__form {
    max-width: 448px;
  }
}

.name,
.phone,
.mail,
.comment {
  position: relative;
  display: block;
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.comment {
  margin-bottom: 20px;
}

.modal-icon {
  position: absolute;
  fill: var(--logo-color);
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  cursor: pointer;
}

.input-window.name,
.input-window.phone,
.input-window.mail,
.input-window.textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  width: 100%;
  cursor: pointer;
  margin-top: 4px;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-window.name:focus,
.input-window.phone:focus,
.input-window.mail:focus,
.input-window.textarea:focus {
  border-color: var(--accent-color);
}

.input-window.name,
.input-window.phone,
.input-window.mail {
  height: 40px;
}

.input-window.name:focus + .modal-icon,
.input-window.phone:focus + .modal-icon,
.input-window.mail:focus + .modal-icon {
  fill: var(--accent-color);
}

.input-window.textarea {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  max-width: 370px;
}

@media screen and (min-width: 1200px) {
  .input-window.textarea {
    width: 448px;
  }
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  cursor: pointer;
}

.craft-checkbox {
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 1.8px solid var(--primary-title-color);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__agreement-text:checked + .craft-checkbox {
  background-color: var(--accent-color);
  fill: var(--secondary-title-color);
  border: none;
}

.modal__agreement-text:hover + .craft-checkbox,
.modal__agreement-text:focus + .craft-checkbox {
  border-color: var(--accent-color);
}

.modal__agreement-link {
  text-decoration: none;
  text-decoration-line: underline;
  color: var(--accent-color);
  outline: none;
}

.modal__agreement-link:focus {
  outline: 2px solid var(--accent-color);
  border-radius: 4px;
}

.modal__check-pic {
  width: 11px;
  height: 8px;
}

.modal__submit-button {
  display: block;
  border-style: none;
  outline-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--header-background-color);
  margin: 0 auto;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit-button:hover, .modal__submit-button:focus {
  background: var(--button-hover-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--header-background-color);
  padding: 48px 40px;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu__link,
.mobile-menu__soc-link {
  color: var(--primary-title-color);
}

.mobile-menu__item {
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.mobile-menu__item:hover, .mobile-menu__item:focus {
  color: var(--accent-color);
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  width: 44px;
  height: 44px;
  padding: 0px;
  border: 0px;
  background-color: var(--header-background-color);
}

.close:hover > .mobile-menu-btn__open,
.close:focus > .header__burger-svg {
  fill: var(--accent-color);
}

.mobile-menu-btn__close {
  width: 19px;
  height: 19px;
}
/*# sourceMappingURL=main.css.map */