.footer {
  background-color: var(--footer-background-color);
  padding: 60px 0px;
  text-align: center;
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    justify-content: space-between;
  }
}

.footer__main-block {
  margin-bottom: -8px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 232px;
  }

  @media screen and (min-width: 1200px) {
    @include flex();
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 231px;
  }
}

.footer__logo {
  color: var(--footer__logo-color);
}

.logo-text {
  margin-bottom: 20px;
}

.footer__street {
  @include font(normal, normal, 14px, 24px, 00.03em);
  color: var(--footer__logo-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  margin-bottom: 8px;
}

.footer__link {
  @include font(normal, normal, 14px, 24px, 00.03em);
  color: var(--secondary-text-color);
}

.footer__list-item {
  margin-bottom: 8px;
}

.footer__social-block {
  padding-top: 12px;
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 226px;
  }
  @media screen and (min-width: 1200px) {
    @include flex();
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 206px;
    margin-left: 70px;
  }
}

.footer__icons-list-appeal {
  color: var(--hero-text-color);
  @include font(normal, bold, 14px, 16px, 00.03em);
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
  }
}

.footer__soc-ico-container {
  margin-left: -10px;
  @media screen and (max-width: 1199px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    @include flex();
    justify-content: flex-start;
  }
}

.footer__social-icon-bgd {
  @include soc-ico-bgd();
  background: rgba(255, 255, 255, 0.1);
  margin: 0px;

  margin-left: 10px;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    & > .social-icon {
      fill: var(--secondary-title-color);
    }
  }
}

.footer__soc-ico {
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  fill: var(--hero-text-color);
}

.footer__subscribe {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    @include flex() margin-left: auto;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 93px;
    padding-top: 12px;
  }
}

.footer__subscribe-appeal {
  @include font(normal, bold, 14px, 16px, 00.03em);
  text-transform: uppercase;
  color: var(--header-background-color);
  margin-bottom: 20px;
}

.footer__subscribe-input {
  margin-top: 20px;
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 1200px) {
    margin-top: 0px;
  }
}

.input-window {
  border-style: none;
  border-radius: 4px;
  border: 1px solid var(--footer-email-input-border);
  width: 450px;
  height: 50px;
  background-color: transparent;
  padding: 15px 16px 15px 16px;
  outline: none;
  @media screen and (max-width: 479px) {
    width: 90vw;
  }
  @include font(normal, 400, 16px, 20px, 00.03em);
  color: rgba(255, 255, 255, 0.6);

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 352px;
  }
}

.submit-button {
  @include flex();
  outline-style: none;
  @include font(normal, bold, 16px, 30px, 0.06em);
  background-color: var(--accent-color);
  color: var(--header-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 0;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--button-hover-color);
  }

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.footer__submit-icon {
  width: 24px;
  height: 24px;
  fill: var(--hero-text-color);
  margin-left: 10px;
}
