.header {
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--border-bottom-color);
  padding-top: 24px;
  padding-bottom: 25px;

  & > .container {
    display: flex;
    justify-content: space-between;
  }
}

.header__list,
.header__contacts {
  display: flex;
}

.header__list_item:not(:first-child),
.header__contacts_item:not(:first-child) {
  margin-left: 50px;
}

.header__list {
  @include font(normal, 500, 14px, 16px, 00.02em);
  margin-left: 93px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__contacts {
  margin-left: auto;
  align-items: center;

  & .header__link {
    @include font(normal, 500, 14px, 16px, 00.02em);
    color: var(--primary-text-color);
  }

  & .contacts__icon {
    fill: var(--primary-text-color);
    margin-right: 10px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header__link {
  @include flex;
  color: var(--primary-title-color);
  &:hover,
  &:focus,
  &.current {
    color: var(--accent-color);
    & > .contacts__icon {
      fill: var(--accent-color);
    }
  }
}

.header__contacts_item {
  @media screen and (max-width: 1199px) {
    &:not(:first-child) {
      margin-left: 0;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.header__burger-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.open {
  display: block;
  width: 44px;
  height: 44px;
  padding: 0px;
  border: 0px;
  background-color: var(--header-background-color);
}

.header__burger-svg {
  width: 24px;
  height: 16px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--header-background-color);
  padding: 48px 40px;
  z-index: 999;
  transform: translateX(100%);
  // @media screen and (min-width: 768px) {
  //   display: none;
  // }
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu__item {
  list-style: none;
}

.mobile-menu-btn__close {
  z-index: 9999;
}
