.team {
  justify-content: center;
  background-color: var(--command-background-color);
  padding: 60px 0px;
  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }
}

.team__title {
  @include font(normal, bold, 28px, 33px, 00.03em);
  color: var(--primary-title-color);

  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    @include font(normal, bold, 36px, 42px, 00.03em);
  }
}

.team__list {
  @media screen and (min-width: 768px) {
    @include flex();
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    align-items: flex-start;
  }
}

.team__card {
  background-color: var(--secondary-title-color);
  border-radius: 4px;

  text-align: center;
  padding-bottom: 30px;
  @media screen and (max-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    min-width: 354px;
    flex-basis: calc(100% / 2 - 60px);
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 270px;
    flex-basis: calc(100% / 4 - 120px);
  }
}

.team__photo {
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}

.team__card-header {
  @include font(normal, 500, 16px, 19px, 00.03em);

  color: var(--primary-title-color);

  margin-bottom: 10px;
}

.team__card-occupation {
  @include font(normal, normal, 16px, 19px, 00.03em);
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.team__soc-ico_normal-bgd {
  @include soc-ico-bgd();
  &:not(:first-child) {
    margin-left: 10px;
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    & > .social-icon {
      fill: var(--secondary-title-color);
    }
  }
}

.social-icon {
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  fill: var(--svg-fill);
}
