.direction {
  padding: 94px 0px;
}

.direction__img {
  @include flex();
  background-color: var(--command-background-color);

  width: 270px;
  height: 120px;
}

.direction__container {
  display: flex;
}

.direction__list {
  display: flex;
}

.direction__description {
  width: 270px;
  margin-left: 0px;
}

.direction__item:not(:first-child) {
  margin-left: 30px;
}

.direction__description-title {
  @include font(normal, bold, 14px, 16px, 0.03em);
  text-transform: uppercase;

  color: var(--primary-title-color);
  margin-top: 30px;
}

.direction__description-text {
  margin-top: 10px;
  @include font(normal, normal, 14px, 24px, 00.03em);
  color: var(--primary-text-color);
}
