.current {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 100%;
    bottom: -33.5px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transform: translateX(-100%);
    background-color: var(--accent-color);
    display: block;
  }
}
