:root {
  --logo-color: #000000;
  --header-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --hero-overlay: rgba(47, 48, 58, 0.4);
  --main-background-color: #e5e5e5;
  --command-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --header-text-color: #752054;
  --hero-text-color: #ffffff;
  --footer__logo-color: #ffffff;
  --button-hover-color: #188ce8;
  --border-bottom-color: #ececec;
  --border-cards-color: #eeeeee;
  --svg-fill: #afb1b8;
  --occupation-background: rgba(47, 48, 58, 0.8);
  --card-overlay: rgba(33, 150, 243, 0.9);
  --modal-backdrop: rgba(0, 0, 0, 0.2);
  --modal-btn-border: rgba(0, 0, 0, 0.1);
  --footer-email-input-border: rgba(255, 255, 255, 0.3);
}
